
.lexend-font{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
}

header{
    display: flex;
    justify-content: space-around;
}

.card{
    width: 80%;
    margin: 3% auto 3% auto;
}

.card-body{
    width: 70%;
}
.input{
    width: 100%;
}
.btn-don{
    width: 100%;
}

.aboveCard{
    backdrop-filter: blur(8px);

}